language: shell

before_install:
  - wget -nc https://gosspublic.alicdn.com/ossutil/1.7.1/ossutil64
  - chmod 755 ossutil64
  - ./ossutil64 config -e "${OSS_ENDPOINT}" -i "${OSS_AKI}" -k "${OSS_AKS}"

script:
  - ls -al
  - bash -n l/*

after_success:
  - zip -r shell.zip ./*
  - ./ossutil64 rm oss://x1-script/ -r -f
  - ./ossutil64 cp -f shell.zip oss://x1-script/
