language: shell

before_install:
  - wget -nc https://gosspublic.alicdn.com/ossutil/1.7.1/ossutil64
  - chmod 755 ossutil64
  - ./ossutil64 config -e "${OSS_ENDPOINT}" -i "${OSS_AKI}" -k "${OSS_AKS}"

script:
  - ls -al
  - bash -n l/*

after_success:
  - ./ossutil64 rm oss://x1-script/ -r -f
  - ./ossutil64 cp -r . oss://x1-script/ --exclude "ossutil64" --exclude ".travis.yml" --exclude ".git/*" --exclude "ossutil_output/*"
